/*Used for sticky positioning of footer*/
html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    /*background-color: #61AEB2;*/
    background-color: #c2fdff;
}

hr {
  border-color: DarkGrey;
}

.hero-spacer {
    margin-top: 50px;
  	background-color: #074647;
  	color: rgb(215, 255, 250);
  	font-family: 'Play', sans-serif;
}

.hero-feature {
    margin-bottom: 30px;

}

.navbar-header {
	color: pink;
}


.thumbnail {
	max-height: 500px;
	max-width: 800px;
	border-color: black;
	border: 2px;
}

img.sampleImgs {
  width: 255px;
  height: 170px;
/*  -o-object-fit: contain;*/
}

.search {
	float: right;
/*  top: 50%;*/
  /*height: 100%; */
  overflow: auto;
}

#searchEntry.info {
  margin-top: 13px;
  width: 300px;

}
.navbar-inverse {
	background-image: none;
	background-color: #09232a;

}

.searchBox {
  float: center;
  text-align: center;
  /*left: 50%;*/
}

.searchField {
  width:400px;
  height: 50px;
  font-size: 150%;
}

.searchBtn {
  width: 200px;
}

.song {
  width: 200px;
  font-weight: bold;
}

/*.artist{

}*/

.album{
  width: 150px;
  font-weight: bold;
}

.left {
  float:left;
}

.right {
  overflow:auto;
}

.albums {
  height :300px;
  width: 263px;
}

.purchase{
  /*position: absolute;*/
  bottom: 0;
}

/*.search:hover {
	background-color: white;
}*/


.footer {
    left: 0;
    bottom: 0;
    position: absolute;
    margin: 50px 0 0 0;
    padding-left: 60px;
/*    height: 100px;
    width: 100%;*/
}




